body {
  padding: 10px;
}
.row {
  height: fit-content;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}
p {
  text-align: center;
  margin-bottom: 20px;
}
.subheading {
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  color: #bf0000;
}
.container {
  margin:8px;
}
.logo {
  width: calc(100% - 160px);
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.item-pic {
  height: 85px;
  width: 85px;
  float: left;
  object-fit: cover;
}
.item-name {
  text-align: left;
  margin-bottom: 7px;
}
.col-8 {
  padding-left: 0px;
  padding-right: 0px;
}
.item-quantity {
  text-align: center;
}
.quantity-button {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: black;
}
#order-button {
  border-radius: 12px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #faba19;
  color: black;
}
#clear-all-button {
  border-radius: 12px;
  padding-right: 10px;
  padding-left: 10px;
  color: black;
}

